/* Style for search bar */
.search-bar {
    position: relative;
    width: 100%;
    max-width: 600px; 
}

.search-bar input {
    width: 100%;
    padding: 8px 15px; 
    border-radius: 25px; 
    border: 1px solid #aae3ea;
    transition: border-color 0.3s ease;
    font-size: 0.875rem; 
}

.search-bar input:focus {
    border-color: #007bff;
    outline: none;
}

.search-bar select {
    border-radius: 25px;
    border: 1px solid #aae3ea;
    padding: 8px 10px;
    font-size: 0.875rem; 
}
.search-bar button {
    border-radius: 25px; 
    padding: 8px 15px; 
    font-size: 0.875rem;
}
.search-bar button:hover {
    background-color: #0056b3; 
    color: #fff; 
}
.btn-group .btn {
    margin-right: 5px;
}

.applicant-card {
    border: 1px solid #8ff0ff;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px; 
}


