.header{
    width: 100%;
    height: 200px;
    color: white;
}

.footer{
    margin-top: 50px;
    width: 100%;
    height: 300px;
}
    


.text{
    font-size: larger;

}
.icon{
    width: 40px;
}

.title-footer{
    font-size: 18px;
    font-weight: bolder;
    padding: 0px;
    margin: 0px;
}

.alamat{

}